<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.app.model.Employee" name="emp">
		<property name="empid" value="12">
		</property>
		<property name="empname" value="nani">
		</property>
		<property name="empsal" value="25.500">
		</property>
	</bean>
</beans>
